.wrapper {
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-foreground);
  z-index: 1;
}

.wrapper > * {
  background-color: rgba(var(--color-text-raw), 0.025);
}

.postForm {
  position: relative;
}

.textarea {
  display: block;
  width: 100%;
  min-height: 60px;
  max-height: 50vh;
  padding: 12px 172px 12px 18px;
  appearance: none;
  transition: height 0.2s;
  resize: none;
}

.attachButton {
  position: absolute;
  top: 12px;
  right: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.attachButton i {
  color: var(--color-accent);
  font-size: 1.1em;
}

.spin {
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.postButton {
  position: absolute;
  top: 12px;
  right: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 36px;
  background-color: var(--color-accent);
  color: #fff;
  cursor: pointer;
}

.postButton i {
  margin: 0 4px 0 0;
  font-size: 1.1em;
}

.postButton i:before {
  margin: 0;
}

.files {
  height: 72px;
  display: flex;
  align-items: center;
  overflow: auto;
  padding: 12px 18px;
  transition: height 0.2s;
}

.file {
  position: relative;
  margin: 0 0 0 24px;
}

.file:first-child {
  margin: 0;
}

.fileThumbnail {
  width: 48px;
  height: 48px;
  background-size: cover;
  background-position: center center;
  border-radius: 4px;
}

.fileCancelButton {
  position: absolute;
  right: -12px;
  top: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  color: #fff;
  cursor: pointer;
  background-color: var(--color-accent);
  border-radius: 50px;
  text-align: center;
}
