.landing {
  padding: 12px;
}

.spOnly {
  display: none;
}

@media screen and (max-width: 768px) {
  .desktopOnly {
    display: none;
  }

  .spOnly {
    display: inherit;
    margin: 0.5em 0;
  }

  .authLinkContainer {
    text-align: center;
  }
}
