.postForm {
  position: relative;
  background-color: rgba(var(--color-text-raw), 0.025);
}

.textarea {
  display: block;
  width: 100%;
  min-height: 2.5em;
  padding: 12px calc(24px + 24px) 12px 18px;
  appearance: none;
  transition: height 0.1s;
}

.buttons {
  display: flex;
  justify-content: space-between;
  background-color: rgba(var(--color-text-raw), 0.1);
}

.button {
  padding: .5em;
  width: 5em;
}