.setting {
  min-width: 60px;
  padding: 12px 24px;
}

.title {
  font-size: 180%;
  margin: 12px 0;
}

.subtitle {
  font-size: 140%;
  margin: 8px 0;
}

.setting label {
  display: block;
  margin-left: 16px;
  margin-top: 4px;
}

.setting label input[type='text'] {
  appearance: textfield;
  width: 210px;
  height: 30px;
  padding: 4px;
  border-radius: 3px;
  border: 1px solid #999;
}

.setting label input[type='checkbox'] {
  appearance: checkbox;
  width: 1em;
  height: 1em;
  margin-right: 4px;
}

.text {
  display: inline-block;
  text-align: right;
  margin-right: 8px;
  min-width: 50px;
}

.submitButton {
  display: block;
  width: 120px;
  height: 36px;
  background-color: var(--color-main);
  color: #fff;
  font-size: 0.8em;

  margin-top: 8px;
  margin-left: auto;
  margin-right: 0;
}

.submitButton.alert {
  background-color: var(--color-alert);
}
