.ogcard {
  overflow: hidden;
  box-sizing: border-box;
  border-left: 1px solid var(--color-text);
  padding: 4px 8px;
}

.ogcard > a {
  text-decoration: inherit;
  color: inherit;
}

.title {
  overflow: hidden;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.description {
  overflow: hidden;
  padding-top: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
