.image {
  display: flex;
  overflow-x: auto;
  margin: 4px 0;
}

.image img {
  margin-right: 4px;
  width: 144px;
  height: 144px;
  border-radius: var(--image-border-radius-small);
  object-fit: cover;
}
