.images {
  display: flex;
  overflow-x: auto;
  margin: 4px 0;
}

.image,
.spreadImage {
  padding-right: 4px;
}

.spreadImage {
  max-width: 80%;
  max-height: 100%;
  min-width: 40%;
}

.image img {
  width: 144px;
  height: 144px;
}

.spreadImage img {
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.1s ease;
}

.imageCover {
  overflow: hidden;
  border-radius: var(--image-border-radius-small);
  object-fit: cover;
}

.imageSize {
  position: relative;
  pointer-events: none;
}

.imageSize p {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 4px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  color: var(--color-caption);
  background-color: var(--color-background);
  opacity: 0.8;
  font-size: 0.8em;
  border-radius: 0 0 var(--image-border-radius-small) 0;
}
