.post {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 12px;
  padding: 12px 18px;
  border-top: 1px solid var(--color-border);
}

.post > * {
  grid-column: 2;
}

.icon {
  /* magic */
  height: 0;
  grid-column: 1;
}

.icon__img {
  height: 36px;
  width: 36px;
}

.head {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.block {
  display: flex;
  flex-grow: 1;
}

.displayName {
  overflow: hidden;
  margin: 0 4px 0 0;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.displayName .empty {
  margin: 0;
}

.time {
  display: inline-flex;
}

.reply {
  margin-right: 8px;
  width: unset;
}

.right {
  padding-left: 8px;
  margin-left: auto;
}

.screenName,
.time {
  color: var(--color-caption);
}

.body__inReplyTo {
  margin: 4px 0 0;
}

.body {
  margin: 4px 0;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.bold {
  font-weight: bold;
}

.ogcard {
  margin: 4px 0;
  color: rgba(var(--color-text-raw), 0.8);
}

.meta {
  display: none;
}

.meta.enabled {
  display: inline-flex;
  align-items: center;
  margin: 4px 0 0;
  color: var(--color-caption);
  font-size: 0.8em;
}

.meta__badge {
  box-sizing: border-box;
  border: 1px solid var(--color-caption);
  border-radius: 4px;
  margin-left: 4px;
  padding: 2px;
  font-size: 0.7em;
}
