@import '../node_modules/sanitize.css/sanitize.css';

:root {
  --color-base: rgb(223, 244, 250);
  --color-main: rgb(27, 169, 204);
  --color-text: rgb(70, 64, 64);
  --color-alert: rgb(204, 26, 26);
}

html {
  color: red;
}

body {
  background-color: var(--color-base);
  color: var(--color-text);
}

a {
  color: var(--color-main);
}

input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.mozuku-layout {
  padding: 0 0 48px;
}

.mozuku-header-wrapper {
  width: 100%;
  height: 64px;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04), 0 0 16px 0 rgba(0, 0, 0, 0.04);
}

.mozuku-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 720px;
  height: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

.mozuku-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
}

.mozuku-header__logo a {
  display: block;
}

.mozuku-header__logo a:hover {
  background: #fafafa;
}

.mozuku-header__setting a,
.mozuku-header__setting button {
  text-decoration: none;
  margin-left: 8px;
  cursor: pointer;
}

.mozuku-container {
  width: 100%;
  max-width: 720px;
  margin: 48px auto 0;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04), 0 0 16px 0 rgba(0, 0, 0, 0.04);
}

.timeline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.postForm {
  position: relative;
  background-color: #fafafa;
}

.postForm__textarea {
  display: block;
  width: 100%;
  height: 60px;
  min-width: 60px;
  padding: 12px calc(120px + 24px + 24px) 12px 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.postForm__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 24px;
  width: 120px;
  height: 36px;
  background-color: var(--color-main);
  color: #fff;
  font-size: 0.8em;
  transform: translateY(-50%);
}

.timelineItem__readMore {
  width: 100%;
}

.post,
.timelineItem__readMore {
  padding: 12px 24px;
  border-top: 1px solid #eee;
}

@media (max-width: 720px) {
  .post {
    padding: 12px 18px;
  }
}

.post-head {
  display: flex;
  justify-content: space-between;
}

.post-head__name {
  vertical-align: middle;
}

.post-head__name__name {
  margin: 0 4px 0 0;
  font-weight: bold;
}
.post-head__name__name.empty {
  margin: 0;
}

.post-head__name__screenName {
  color: #999;
}

.post-head__time {
  color: #999;
}

.post__body {
  margin: 4px 0 0;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.post__body__bold {
  font-weight: bold;
}
.post__image {
  display: flex;
  overflow-x: auto;
  margin-top: 4px;
}
.post-image__img {
  margin-right: 4px;
  width: 144px;
  height: 144px;
  object-fit: cover;
}

.post__ogcard {
  margin: 4px 0 0;
  color: #666;
}

.post__meta {
  display: none;
}
.post__meta.enabled {
  display: initial;
  margin: 4px 0 0;
  color: #999;
  font-size: 0.8em;
}

.setting {
  min-width: 60px;
  padding: 12px 24px;
}
.settingItem__title {
  font-size: 180%;
  margin: 12px 0;
}
.settingItem__subtitle {
  font-size: 140%;
  margin: 8px 0;
}
.setting label {
  display: block;
  margin-left: 16px;
  margin-top: 4px;
}
.settingItem__label__field {
  display: inline-block;
  text-align: right;
  margin-right: 8px;
}
.setting label input[type='text'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  height: 30px;
  width: 210px;
  padding: 4px;
  border-radius: 3px;
  border: 1px solid #999;
}
.setting label input[type='checkbox'] {
  width: 1em;
  height: 1em;
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  margin-right: 4px;
}
.settingItem__submitButton {
  display: block;
  width: 120px;
  height: 36px;
  background-color: var(--color-main);
  color: #fff;
  font-size: 0.8em;

  margin-top: 8px;
  margin-left: auto;
  margin-right: 0;
}
.settingItem__submitButton.alert {
  background-color: var(--color-alert);
}

.ogcard {
  box-sizing: border-box;
  border-left: 1px solid;
  padding: 4px 8px;
}
.ogcard > a {
  text-decoration: inherit;
  color: inherit;
}
.ogcard__title {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  font-weight: bold;
  text-overflow: ellipsis;
  width: 100%;
}
.ogcard__description {
  padding-top: 4px;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}
